.login {
    background-color: #000;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 375px;
    margin: 0 auto;
}

.login__feature {
    margin-right: auto;
    padding: 20px;
}

.login__title {
    color: #fff;
    font-size: 30px;
}

/*  */
.login__input__container {
    width: 90%;
    position: relative;
    height: 55px;
    margin: 10px;
}

.login__input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 100%;
    border: none;
    padding: 20px 10px 0 10px;
    font-size: 18px;
    outline: none;
}

.login__input__label {
    border-radius: 5px;
    border: 1px solid grey;
    color: grey;
    position: absolute;
    bottom: 1px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.login__input__label::after {
    content: "";
    position: absolute;
    border-radius: 5px;
    left: 1px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    /* transform: translateX(-100%); */
}

.login__label__span {
    position: absolute;
    bottom: 40%;
    left: 5px;
    transition: all 0.1s ease;
}

.login__input__container .login__input:focus {
    border: 2px solid var(--twitter-color);
    border-radius: 5px;
}

.login__input__container .login__input:focus + .login__input__label .login__label__span {
    transform: translateY(-70%);
    color: var(--twitter-color);
    font-size: 12px;
}
/*  */

.login__button {
    color: #fff !important;
    font-size: 15px;
    background-color: var(--twitter-color) !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    width: 90% !important;
    margin: 20px 0 20px 0 !important;
}

.login__links {
    display: flex;
    width: 100%;
    justify-content: center;
}

.login__span {
    color: var(--twitter-color);
    margin: 0 5px;
}

.login__link {
    color: var(--twitter-color);
    text-decoration: none;
}
