.feature {
    display: block;
}

.feature__brand {
    margin: 90px auto 0 30px;
    max-width: 700px;
}

.feature__twitter {
    color: #fff !important;
    font-size: 60px !important;
    font-size: clamp(35px, 4vw, 60px) !important;
    margin: 50px auto 20px 0;
}

.feature__title {
    color: #fff;
    font-size: clamp(45px, 10vw, 65px);
    margin-bottom: 30px;
    line-height: 1.1;
}

.feature__text {
    color: #fff;
    font-size: clamp(20px, 5vw, 30px);
}

.feature__buttons {
    display: flex;
    flex-direction: column;
    margin: 80px auto 0 0;
    width: 60%;
}

.feature__link {
    align-items: center;
    background-color: var(--twitter-color);
    border: 0;
    border-radius: 30px;
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 900;
    height: 50px;
    justify-content: center;
    margin: 0 0 20px 20px;
    text-align: center;
    text-decoration: none;
    width: 70%;
}

.feature__login__link {
    background: transparent;
    border: 1px solid var(--twitter-color);
    color: var(--twitter-color);
}

@media (max-width: 1000px) {
    .feature__brand {
        margin: auto;
        width: 40%;
    }

    .feature__buttons {
        flex-direction: row;
        margin: 50px auto;
    }

    .feature__link {
        margin: 5px 5px;
    }
}

@media (max-width: 500px) {
    .feature__brand {
        width: 80%;
    }
    
    .feature__buttons {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .feature__link {
        margin-bottom: 10px;
        width: 90%;
    }
}

