.twitterbg {
    height: 100vh;
    background: url("../../images/bg.png");
    background-position: center;
    background-size: cover;
    flex: 0.54;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitterbg_twitter {
    color: #fff !important;
    font-size: clamp(290px, 50vw, 400px) !important;
    z-index: 1;
}

@media (max-width: 1000px) {
    .twitterbg {
        flex: 0.5;
    }
}