.banner {
    display: flex;
    align-items: center;
    margin-left: 5px;
    max-width: 100%;
    width: 80%;
}

/* .banner__input {
    background: transparent;
    width: 200px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    color: #fff;
} */


/*  */
.banner__input__container {
    width: 30%;
    position: relative;
    height: 55px;
    margin: 5px;
}

.banner__input {
    background: transparent;
    width: 200px;
    height: 50px;
    font-size: 15px;
    margin: 10px;
    border-radius: 5px;
    color: grey;
    padding: 20px 10px 0 10px;
    font-size: 18px;
    outline: none;
}

.banner__input__label {
    border-radius: 5px;
    border: 1px solid grey;
    /* border: 1px solid var(--twitter-color); */
    color: grey;
    position: absolute;
    bottom: -5px;
    left: 10px;
    width: 200px;
    height: 50px;
    pointer-events: none;
}

.banner__input__label::after {
    content: "";
    position: absolute;
    border-radius: 5px;
    left: 1px;
    bottom: -1px;
    width: 100px;
    height: 50px;
    /* transform: translateX(-100%); */
}

.banner__label__span {
    position: absolute;
    bottom: 40%;
    left: 5px;
    transition: all 0.1s ease;
}

.banner__input__container .banner__input:focus {
    border: 2px solid var(--twitter-color);
    border-radius: 5px;
}

.banner__input__container .banner__input:focus + .banner__input__label .banner__label__span {
    transform: translateY(-70%);
    color: var(--twitter-color);
    font-size: 12px;
}
/*  */

.banner__button {
    background: transparent !important;
    border: 1px solid var(--twitter-color) !important;
    color: var(--twitter-color) !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    width: 120px !important;
    margin: 50px !important;
}

.banner_button:hover {
    background: #03101f !important;
}

@media (max-width: 1800px) {
    .banner{
        width: 100%;
    }
}
@media (max-width: 1000px) {
    .banner {
        display: none;
    }
}