.banner {
    flex: 0.46;
}

.banner__login__box {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.banner__input {
    background: transparent;
    width: 200px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    color: #fff;
    outline: red;
}


.banner__button {
    background: transparent !important;
    border: 1px solid var(--twitter-color) !important;
    color: var(--twitter-color) !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin: 20px !important;
    width: 100px !important;
}

.banner_button:hover {
    background: #03101f !important;
}

@media (max-width: 1000px) {
    .banner__login__box {
        display: none;
    }
}